# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
*.sqlite3
*.log

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
.env/
env/

# Google service account JSON (if not using env var)
*.json
